[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
yapf = "*"
pylint = "*"
flake8 = "*"
bandit = "*"
black = "*"
pydocstyle = "*"
mypy = "*"
pytest = "*"
twine = "*"
pydoc-markdown = "*"
pymdown-extensions = "*"
mkdocs = "*"
mkdocs-material = "*"

[packages]
risc = {editable = true,path = "."}
pandas-profiling = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
